<div class="container">
  <div class="content">

    <mat-card [@slideDown]>
      <!-- HEADER -->
      <mat-card-header>
        <div>
          <mat-icon>cloud_upload</mat-icon>
        </div>
        <mat-card-title>Media Uploader</mat-card-title>
      </mat-card-header>

      <!-- CONTENT -->
      <mat-card-content>

        <!-- LOGIN SIGNUP MENU -->
        <app-login-signup></app-login-signup>

      </mat-card-content>
    </mat-card>

  </div><!-- END .content -->
</div><!-- END .container -->



