<div class="container">

  <div class="item">
    <div class="file">
      <span>Sample.jpg</span>
      <span>70%</span>
    </div>

    <mat-progress-bar mode="determinate"
                      value="70"></mat-progress-bar>
  </div><!-- END .item -->

  <div class="item">
    <div class="file">
      <span>Sample.jpg</span>
      <span>70%</span>
    </div>

    <mat-progress-bar mode="determinate"
                      value="70"></mat-progress-bar>
  </div><!-- END .item -->

</div><!-- END .container -->
