<!-- TOOLBAR -->
<mat-toolbar color="primary">
  <mat-toolbar-row>

    <!-- LOGO -->
    <span class="logo">
      <mat-icon>cloud_upload</mat-icon>
      <span>Media Uploader</span>
    </span><!-- END .logo -->

    <span class="spacer"></span>

    <!-- MENU -->
    <div>
      <mat-icon class="cursor-pointer"
                [matMenuTriggerFor]="menu">perm_identity</mat-icon>

      <mat-menu #menu="matMenu"
                class="menu"
                [overlapTrigger]="false">
        <span mat-menu-item
              (click)="isEditProfile = true">Edit Profile</span>

        <span mat-menu-item
              (click)="logOut()">Log Out</span>
      </mat-menu>
    </div>


  </mat-toolbar-row>
</mat-toolbar>

<div class="container">

  <!-- MEDIA -->
  <app-file-manager *ngIf="!isEditProfile"></app-file-manager>

  <!-- PROFILE -->
  <app-edit-profile-form *ngIf="isEditProfile"
                         (hideForm)="isEditProfile = false"></app-edit-profile-form>

</div>

