@import 'main';


// TOOLBAR
.mat-toolbar {

  color: white !important;

  .mat-toolbar-row {
    padding: 0 35px;
  }

  span:first-child {
    font-weight: bold;
    font-size: 15px;
  }

}

// LOGO
.logo {
  .mat-icon {
    vertical-align: middle;
    padding-right: 10px;
    position: relative;
    top: -1px;
  }

  span { font-family: $Montserrat-Bold; }
}

