<!-- TOOLBAR -->
<mat-toolbar color="primary">
  <mat-toolbar-row>

    <span class="logo">
      <mat-icon>cloud_upload</mat-icon>
      <span>Media Uploader</span>
    </span>

    <span class="spacer"></span>

    <mat-icon>perm_identity</mat-icon>

  </mat-toolbar-row>
</mat-toolbar>

<div class="container text-center upload-container">

  <div class="headline">
    <h2>Upload your photos and videos</h2>
    <p>We only accept <strong>jpg</strong> and <strong>png</strong> for photo and <strong>mp4</strong> for video</p>
  </div>

  <div class="media-icons">
    <mat-icon>insert_photo</mat-icon>
    <mat-icon>video_library</mat-icon>
  </div>

  <div class="file-upload">
    <mat-icon>cloud</mat-icon>
  </div>

</div>
