@import 'main';


// TOOLBAR
.mat-toolbar {

  color: white !important;

  .mat-toolbar-row {
    @include media(375px) {
      & {
        padding: 0 20px !important;
      }
    }

    padding: 0 35px;
    margin-top: 5px;
  }

  span:first-child {
    font-weight: bold;
    font-size: 15px;
  }

}

// LOGO
.logo {
  .mat-icon {
    vertical-align: middle;
    padding-right: 10px;
    position: relative;
    top: -1px;
  }

  span { font-family: $Montserrat-Bold; }
}

// MENU
::ng-deep .menu {
  .mat-menu-item {
    font-size: 13px !important;
    height: 40px !important;
    line-height: 3 !important;
  }
}

// CONTAINER
.container {
  color: white !important;
  background-color: $blue;
  padding: 65px 20px 0;
}
