<div class="container">

  <!-- TABS -->
  <nav mat-tab-nav-bar>
    <a mat-tab-link
       *ngFor="let tab of tabs"
       [routerLink]="tab.path"
       routerLinkActive
       #rla="routerLinkActive"
       [active]="rla.isActive"
       [disableRipple]="true">
      {{tab.label}}
    </a>
  </nav>

  <!-- SORT -->
  <div class="sort">
    <mat-form-field floatLabel="never">
      <mat-select placeholder="Sort By">
        <mat-option value="latest">Latest</mat-option>
        <mat-option value="oldest">Oldest</mat-option>
      </mat-select>
    </mat-form-field>
  </div><!-- END .sort -->

  <!-- CONTENT / ROUTER -->
  <div class="content">
    <router-outlet></router-outlet>
  </div>

</div><!-- END .container -->
