@import 'main';


$start-breakpoint: 549px;


// UPLOAD CONTAINER
.upload-container {

  color: white !important;

  @include media($start-breakpoint) {
    & { padding-bottom: 20px; }
  }

  background-color: $blue;
  padding: 65px 20px 0;
}

// HEADLINE
.headline {
  @include media($start-breakpoint) {
    h2 { font-size: 1.1em; }

    p { font-size: 0.7em; }
  }

  p { margin-top: 5px; }
}

// MEDIA ICONS
.media-icons {
  @include media($start-breakpoint) {
    .mat-icon {
      font-size: 25px !important;

      &:first-child { padding-right: 5px !important; }
    }
  }

  padding-top: 30px;

  .mat-icon {
    font-size: 30px;

    &:first-child { padding-right: 15px; }
  }
}

// FILE UPLOAD
.file-upload {

  display: flex;
  justify-content: center;

  & > .mat-icon {
    $breakpoints: (549: 20, 468: 17, 370: 14);

    @each $breakpoint, $size in $breakpoints {
      @include media(#{$breakpoint}px) {
        & { font-size: #{$size}em !important; }
      }
    }

    font-size: 25em;
    width: auto;
    height: auto;
  }

  .content {
    align-self: center;
    position: absolute;
    margin-top: 10px;

    @include media(370px) {
      & { margin-top: 5px !important; }
    }

    .mat-icon {
      $breakpoints: (549, 4, -30), (468, 3, -17);

      @each $breakpoint, $size, $margin in $breakpoints {
        @include media(#{$breakpoint}px) {
          & {
            font-size: #{$size}em !important;
            margin-left: #{$margin}px !important;
          }
        }
      }

      color: #5caaf7;
      font-size: 5.5em;
      margin-left: -50px;
    }

    p {
      $breakpoints: (549: 0.7, 370: 0.4);

      @each $breakpoint, $size in $breakpoints {
        @include media(#{$breakpoint}px) {

          @if $breakpoint == 370 {
            &:nth-of-type(1) { margin-top: 10px !important; }
          }

          & { font-size: #{$size}em !important; }
        }
      }

      font-size: 0.9em;

      &:nth-of-type(1) {
        color: #5caaf7;
        margin-top: 25px;
        font-weight: bold;
      }

      &:last-child { color: $gray; }
    }

  }
}
