@import '~@angular/material/theming';

@font-face {
  font-family: Lato;
  src: url("../fonts/Lato-Light.ttf");
}

@font-face {
  font-family: Lato-Bold;
  src: url("../fonts/Lato-Regular.ttf");
}

$custom-typography: mat-typography-config($font-family: 'Lato, sans-serif');

@include mat-base-typography($custom-typography);

@include mat-checkbox-typography($custom-typography);

@include angular-material-typography($custom-typography);

@include mat-core($custom-typography);


