<div class="container text-center upload-container">

  <!-- HEADLINE -->
  <div class="headline">
    <h2>Upload your photos and videos</h2>
    <p>We only accept <strong>jpg</strong> and <strong>png</strong> for photo and <strong>mp4</strong> for video</p>
  </div><!-- END .headline -->

  <!-- MEDIA ICONS -->
  <div class="media-icons">
    <mat-icon>insert_photo</mat-icon>
    <mat-icon>video_library</mat-icon>
  </div><!-- END .media-icons -->

  <!-- UPLOAD LIST -->
  <app-upload-list *ngIf="filesSelected"
                   [files]="filesSelected"></app-upload-list>

  <!-- UPLOAD INSTRUCTIONS -->
  <div class="cursor-pointer"
       appFileManager
       #fileManager="appFileManager"
       [fileRef]="file"
       (click)="fileManager.openFileManager()">
    <div class="file-upload">
      <mat-icon>cloud</mat-icon>

      <div class="content cursor-pointer">
        <mat-icon>perm_media</mat-icon>

        <p>Drag & Drop Photos/Videos</p>
        <p>Limit to 5 items per batch upload</p>
      </div><!-- END .content -->
    </div>
  </div><!-- END .file-upload -->

  <!-- FILE MANAGER -->
  <input type="file"
         accept="image/png, image/jpg, video/mp4"
         multiple
         #file
         (change)="getFiles(file.files)">

</div><!-- END .upload-container -->
