@import '~@angular/material/theming';
@import 'colors';

$primary: mat-palette($mat-custom-blue);
$accent: mat-palette($mat-light-blue);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

